# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarize.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Data Science Tools
* Example of arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. numpy
3. pandas

| Data Science Tools | 
----------------------
| Jupyternotebook |
| JupyterLab |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple artithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes into hours by diving by 60
200 / 60

3.3333333333333335

In [9]:
# or
200 // 60

3

## Autor:
Django